{% extends 'base.html' %}
{% block content %}


<ul>
    <!--    <style>.card {-->
    <!--      display: inline-block;-->


    <!--    </style>-->
    {% for i in items %}
    <!--    <div class="row">-->

    <div class="d-flex">
        <div class="card" style="width: 18rem;">
            <img src="{{ i.item_img }}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">{{ i.name }}</h5>
                <p class="card-text">{{ i.description }}</p>
                <a href="{{ i.get_absolute_url }}" class="btn btn-primary">more info</a>
            </div>
        </div>
        <!--        </div>-->
    </div>


    {% endfor %}
</ul>
{% endblock %}
